@import "components/font-awesome.min.css";
@import "components/bootstrap.css";
@import "components/jquery-ui.css";
@import "components/owl.carousel.css";
@import "components/fotorama.css";
@import "components/magnific-popup.css";
@import "components/custom.css";
@import "components/responsive.css";

@import "../../../node_modules/noty/src/noty";
@import "../../../node_modules/noty/src/themes/mint";
@import "../../../node_modules/vue-slider-component/theme/antd.css";
